<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quote Manager</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Welcome to the Quote Manager</h1>
        <a class="button" href="/random">Random Quote</a>
        <a class="button" href="/search">Search a Quote</a>
        <a class="button" href="/view_all">View All Quotes</a>
    </div>
</body>
</html>
