<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Quotes</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>All Quotes</h1>
        {% for quote in quotes %}
            <blockquote>{{ quote['text'] }}</blockquote>
            <footer>- {{ quote['author'] }}</footer>
            <a class="button" href="/edit/{{ quote['_id'] }}">Edit</a>
            <form action="/delete/{{ quote['_id'] }}" method="POST" style="display:inline;">
                <button class="button" type="submit">Delete</button>
            </form><br><br>
        {% endfor %}

        <a class="button" href="/add">Add a Quote</a>
        <a class="button" href="/">Home</a>
    </div>
</body>
</html>
